*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height:100vh;
    /* display:grid;
    place-items:center center; */

}
h1{
    color: aliceblue;
    text-align: center;
}
.cards{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
padding:20px;
grid-gap:40px;
}
.card{
background-color: white;
border-radius: 20px;
box-shadow: 0 0 30px rgba(0,0,0,18);
/* height: 400px; */


}
.details{
    padding: 20px;
}
.container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
img{
    width:100%;
    display: block;
    border-radius: 20px 20px 0 0;

}